.picture-frame {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

.picture-frame.px125 {
	width: 125px;
	height: 125px;
	line-height: 125px;
}

.picture-frame img {
	margin-top: -4px; /* Inline images have a slight offset for some reason when positioned using vertical-align */
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
	border: 0; /* Remove border on images enclosed in anchors in Internet Explorer */
}
