@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Merienda&family=Sacramento&display=swap');
body {
    font-size: 16px;
    line-height: 30px;
    font-family: 'Roboto Mono', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    padding: .5em;
    margin: 0 auto;
    color: #D9CAB3;
}

h1 {
    font-style: initial;
    color: #6b7a8f;
    text-align: center;
    padding: .5em;
}

h2 {
    margin-left: 15px;
    color: #f7882f;
}

#content {
    width: fit-content;
    margin: 0 auto;
    background-color: #D9CAB3;
    padding: .5em;
    box-shadow: 0 0 30px #333;
    border-radius: 10px;
    margin: 0 auto;
}

.myimg {
    float: right;
    width: 175px;
    height: 200px;
    box-shadow: 0 0 8px #333;
    padding: .3em;
}

li {
    text-align: left;
}

header {
    text-align: center;
    background-color: #D9CAB3;
    color: #6b7a8f;
    width: 600px;
    box-shadow: 0 0 8px #333;
}

footer {
    text-align: center;
    background-color: #D9CAB3;
    color: #f7c331;
    width: 600px;
    box-shadow: 0 0 8px #333;
}

hr {
    width: 600px;
    box-shadow: 0 0 8px #333;
}

#currentdate {
    color: #4b7;
}