body {
    background-color: #6b7a84;
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    background-color: #dcc7aa;
    border-radius: 5px;

}

header {
    background-color:#f7882f;
    border-radius: 5px;
    padding: 5px 5px 15px 5px;
    color: white;
    text-align: center;

}
header h1 {
    display: inline;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Mono', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, ul {
    font-family:  'Comic Nueu', fantasy;
}

footer {
    background-color: #f7c331;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: white;

}
footer a {
    color: white;
}


img {
    width: 100%;
    border-radius: 5px;
}