body {
    margin: 0;
    padding: 0;
    background-color: #D9CAB3;
    font-size: 18px;
}



p, a {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    font-family:sans-serif;
    line-height: 1.5em;
}

li, button {
    font-family: Arial, Helvetica, sans-serif
}


h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
}




header {
    background-color:#6b7a8f;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}  


.text-headings h1 {
    font-size: 1.5em;
    margin-bottom: 0;;
}


.text-headings p {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
}




nav {
    background-color: #f7c331;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}


nav button {
    border: none; 
    font-size: 1.2rem;
    background-color: #f7c331;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    margin: 0;
}


nav button:hover {
    background-color: #dcc7aa;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    padding: 0.8rem;
    margin: 0;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 1.2rem;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
    background-color: #dcc7aa;
    color: white;

}
.active {
    text-decoration: wavy;
    background-color: #f7882f;
    color: white;
    font-weight: bold;
}

.active:hover {
    background-color: #dcc7aa;
}
    

nav ul.hide {
    display: none;
}


/*main*/
main {
    margin: 0 auto;
    padding: 0;
}

main h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
}




/*footer*/

footer {
    margin: 0 auto;
    padding: 0;
    background-color: #f7c331;
    padding: 5px;
    text-align: center;
    color: white;

}
footer a {
    color: white;
}


/*clearfix*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


/*aside*/

aside {
    text-align: center;
    background-color: #E7C24F;
    padding: 1em;
    color: white;
    text-decoration: solid;
    display: none;
}

aside h4 {
    margin: 0;
}

  /*Hero Div*/

.herodiv {
    margin: 10px auto;
    position: relative;
}

.herodiv img {
    width: 100%;
    margin-bottom: 3em;
}

.stats {
    position: absolute;
    top: 1em;
    left: .8em;
    padding: 1rem;
    background: radial-gradient(#f7c331, #D9CAB3);
    border: 1px solid #f7882f;
    box-shadow: 0 0 25px #000;
    opacity: .8;
}

.stats h2, .stats p {
    margin: 0;
    font-size: 1em;
}

/*five-day-forecast*/

.five-day-forecast {
    display: none;
    text-align: center;
}

.five-day-forecast img {
    width: 120px;
}

.forecast-table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.forecast-table tr {
    padding: 1.5em;
    
}

.forecast-table p {
    margin-top: 0;
}

.forecast-table th {
    padding: .5em;
    height: 2em;
    background-color: #6b7a8f;
    color: white;
    border: 2px solid black;
}

.forecast-table td {
    border: 2px solid black;
    height: 2em;
}


 /*Article*/
.article {
        display: block;
        margin: 10px auto;
        border: 1px solid #000;
        padding: 15px;
        background-color: #f7c331;
        box-sizing: border-box;
}

 .article img {
     border-radius: 5px;
     box-shadow: 0 0 10px #000;
     width: 100%;

 }

 .article p {
    padding: 0;
}

.article h3, .article p {
    margin: .5em 0;
}

#continue {
    display: none;
}


/*map frame and contact information*/

.gmap {
    display: none;
}

.contact-information {
        display: block;
        margin: 10px auto;
        border: 1px solid #000;
        padding: 15px;
        background-color: #f7c331;
        box-sizing: border-box;
}

.right {
    width: 80%;
    margin: 0 auto;
}

.right ul {
    list-style-type: none;
    padding: 0;
}

.right ul li {
    padding: .3em;;
}

.contact-address {
    margin-bottom: 0;
}

.social-icons {
    margin-top: 0;
    display: flex;
    font-size: 2em;
}

/*colors for icons*/
.fa-map-marker-alt, .fa-pinterest {
    color: red;
}

.fa-twitter {
    color: #00ACEE;
}

.fa-whatsapp {
    color: #128c7e;
}

.fa-facebook {
    color:#3b5998;
}
