@media screen and (min-width:1225px) {
    #content {
        width: 80%;
        background-color: #cac5c5;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    
    }
    
    header {
        grid-column: 1/4;
    }
    
    .contrast {
        grid-column: 1/2;
        overflow: hidden;
    }
    
    .repetition {
        grid-column: 2/3;
        border-radius: 15px;
        background-color: #f0c03d;
        overflow: hidden;
    }
    
    .fitts-law {
        grid-column: 3/4;
        border-radius: 15px;
        background-color: #cac5c5;
        overflow: hidden;
    }
    
    
    }