@media only screen and (min-width: 37.5em) {
    main {
        width: 80%;
    }
    .boxes {
        background-color: #E7C24F;
        align-items: center;
        color: black;
    }
    .footer {
        width: 80%;
    }
}