body {
    margin: 0;
    padding: 0;
    background-color: #6b7a8f;
    font-size: 16px;
}



p, a {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    font-family: 'Comic Neue', fantasy;
    line-height: 1.5em;
}

li, button {
    font-family: 'Comic Neue', fantasy;
}


h1, h2, h3, h4 {
    font-family: 'Roboto Mono','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




header {
    background-color:#f7882f;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}  


.text-headings h1 {
    font-size: 1.5em;
    margin-bottom: 0;;
}


.text-headings p {
    font-size: 0.8em;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
}




nav {
    background-color: #f7c331;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}


nav button {
    border: none; 
    font-size: 1.2rem;
    background-color: #ccc;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    margin: 0;
}


nav button:hover {
    background-color: #f7882f;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    padding: 0.8rem;
    margin: 0;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 1.2rem;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
    background-color: #f7c331;
    color: white;

}

nav ul.hide {
    display: none;
}


/*main*/
main {
    margin: 0 auto;
    padding: 0;
}

main h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
}


.contentbox {
    text-align: center;
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    background-color: #ccc;
    box-sizing: border-box;
}

/*footer*/

footer {
    margin: 0 auto;
    padding: 0;
    background-color: #E7C24F;
    padding: 5px;
    text-align: center;
    color: white;

}
footer a {
    color: white;
}


/*clearfix*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }