/*------------------------------Main-----------------------------*/

body {
	font-size: 16px;
	margin: 0 auto;
	background-color: beige;
}

main {
	margin: 0 auto;
	padding: 20px;
	font-family: "Crimson Text", serif;
	font-size: 22px;
	text-align: center;
	margin-top: 5px;
	border-radius: 4px;
}

img {
	width: 100%;
}

.alert {
	display: none;
	text-align: center;
	padding: 1em;
	color: white;
}

h1 {
	font-family: "Acme", cursive;
	text-align: center;
	margin: 0;
	text-shadow: 3px 3px 5px #777;
}

h2 {
	color: steelblue;
	font-family: "Acme", cursive;
	font-size: 23px;
}

header {
	background-color: #6b7a8f;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 5px 0 0;
	color: #f0f0f0;
	padding: 15px 0;
	text-align: center;
}

header img {
	width: 80px;
	height: auto;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 8px;
	margin-left: 10px;
}

.headings {
	margin-left: 1rem;
}

.iconH4 {
	font-style: italic;
	letter-spacing: 1pt;
	font-size: 15px;
	padding: 5px;
}

footer {
	background-color: #6b7a8f;
	border-radius: 3px 3px 5px 5px;
	padding: 10px;
	text-align: center;
	color: #f0f0f0;
	margin: 0 auto;
	margin-top: 0;
}

footer a {
	color: rgb(254, 255, 244);
}

a:hover {
	color: rgb(241, 57, 57);
	background-color: transparent;
	text-decoration: underline;
}

a {
	color: rgb(73, 53, 245);
}
/*-----------------------Index Page -----------*/

.newCard {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.newCard p {
	font-size: 18px;
}

.cards {
	grid-gap: 15px;
	display: grid;
	grid-template-columns: 1fr;
}

.cards h2 {
	font-size: 20px;
}

h3 {
	font-size: 17px;
}

.display {
	margin-bottom: 20px;
	font-size: 15px;
}

section {
	background-color: #ffc107;
	border: solid 2px #f7882f;
	box-shadow: 5px 5px 5px rgb(69, 71, 73);
}

.star {
	grid-template-columns: 1fr;
	padding: 20px;
	margin-bottom: 30px;
	text-align: center;
	grid-gap: 20px;
}

.star h2 {
	font-size: 22px;
}

.star img {
	box-shadow: 5px 5px 5px burlywood;
	width: 100%;
}
/*****************Navigation***********************************/

nav {
	background: linear-gradient(to bottom, #ffc107 50%, #f7882f 100%);
	box-shadow: 0 4px 6px -6px black;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

nav ul li a {
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	display: block;
	font-size: 0.95rem;
}

.navigation {
	list-style: none;
	padding: 0;
}

.menusign {
	align-content: center;
}

nav {
	background: linear-gradient(to bottom, #ffc107 50%, #f7882f 100%);
	box-shadow: 0 4px 6px -6px black;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 0.8rem 2%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.responsive li {
	display: block;
}

p {
	margin: 0.5px;
	font-size: 17px;
}
/*****************Banner***********************************/

.bannerdiv {
	margin: 10px auto;
	position: relative;
}

.bannerdiv img {
	width: 100%;
	border-radius: 10px;
}

.bannerSection {
	position: absolute;
	top: 5px;
	left: 20px;
	flex-wrap: wrap;
	background: radial-gradient(rgb(182, 183, 189), #6b7a8f);
	color: white;
	border: 1px solid #000;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
}
/*****************Article boxes***********************************/

.articlebox img {
	box-shadow: 0 0 30px #555;
	padding: 0.25rem;
	width: 300px;
	height: 300px;
	float: right;
}

.articlebox {
	border: solid 2px #ffc107;
	padding: 15px;
	background-color: #f7882f;
	box-shadow: 5px 5px 5px burlywood;
	height: auto;
	color: black;
	border-radius: 8px;
	display: grid;
	float: left;
	grid-template-columns: 1fr;
}

.forecastsection {
	display: none;
}

.banpic {
	width: 900px;
	display: flex;
}

.active {
	background-color: #6b7a8f;
	color: white;
	font-weight: bold;
}

.artimg {
	width: 100%;
}

.flex-container {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	max-width: 1220px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.flex-container2 {
	max-width: 1220px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.flex-item {
	background-color: #ffc107;
	box-shadow: 5px 5px 5px rgb(69, 71, 73);
	border: solid 2px #f7882f;
	margin: 3px;
	padding: 10px 0 0 10px;
	padding: 10px;
	border-radius: 6px;
}

span {
	padding-left: 10px;
	text-align: right;
}

.contactspan {
	padding-left: 10px;
	text-align: center;
	left: -350px;
	float: right;
	top: -300px;
}

.flex-item2 {
	background-color: #ffc107;
	border: solid 2px #f7882f;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	box-shadow: 5px 5px 5px rgb(69, 71, 73);
	margin: 3px;
	padding: 10px 0 0 10px;
	padding: 10px;
	text-align: left;
	border-radius: 6px;
}

.flex-item2 .prestonlocation {
	box-shadow: 4px 4px 3px rgb(69, 71, 73);
	text-align: center;
}
/*-------------------------- Icon---------------------- */

.google_icon {
	width: 25px;
}

.twittericon {
	width: 45px;
	height: 45px;
}

.mail_icon {
	width: 20px;
}

.phone_icon {
	width: 20px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.icon {
	width: 40px;
}
/* -------------Forum-----------------*/

form fieldset {
	border: solid 3px #ffc107;
	background-color: #f7882f;
	margin: 2rem 0;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 5px 5px 5px rgb(69, 71, 73);
	box-sizing: border-box;
}

form legend {
	background-color: #6b7a8f;
	padding: 5px 5px;
	text-align: left;
	box-shadow: 2px 2px 2px 2px gray;
	border-radius: 15px;
	color: #f5f8fa;
}

form label.top,
form div {
	display: block;
	padding-top: 5px;
	color: rgb(17, 15, 15);
	text-align: left;
}

form label.top input,
form label.top select {
	-webkit-appearance: none;
	display: block;
	text-align: left;
	font-size: 16px;
	border: solid 1px rgb(245, 240, 240);
	border-radius: 5px;
	color: rgb(12, 9, 9);
	width: 100%;
	height: 30px;
	max-width: 22rem;
}

form label.sbs {
	display: block;
	padding: 0.75rem 0;
	color: rgb(27, 20, 20);
}

form input.submitbutton {
	border: none;
	background-color: black;
	color: white;
	margin: 0 0 2rem 2%;
	border-radius: 1rem;
	width: 96%;
	box-shadow: 5px 5px 5px burlywood;
	max-width: 20rem;
	padding: 0.75rem 1.5rem;
}

form label.top input:required {
	border-left: red solid 6px;
}

form label.top :required:valid {
	border-left: green solid 6px;
}
/*-------------------------------Slider-----------------------------*/

.slider {
	width: 100%;
	height: 10px;
	background-color: #ffc107;
}

.slider:hover {
	background-color: #f7882f;
}

.range {
	display: flex;
	flex-direction: row;
	text-align: left;
	padding: 20px;
	width: 100%;
}

.sbs {
	text-align: left;
}

.rate {
	display: block;
	padding: 15px;
	margin-left: 0px;
	text-align: left;
}

textarea {
	width: 96%;
	height: 160px;
	margin: 10px;
}
/* ---------CSS Thank you Page---------------*/

.thanks {
	text-align: center;
	border: solid 1px #6b7a8f;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #6b7a8f;
}

.checkmark {
	height: 70px;
	width: 90px;
}
/*--------------Gallery----------------------*/

article {
	background-color: #ffc107;
	border: solid 2px #f7882f;
	border-radius: 5px;
}

article img {
	width: 90%;
	filter: blur(0em);
	transition: filter 0.5s;
	padding: 10px;
}

.grid {
	grid-gap: 25px;
	display: grid;
}

img[data-src] {
	filter: blur(0.2em);
}
