body {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	background-color: beige;
}

aside {
	background-color: #ffc107;
	padding: 1em;
	text-align: center;
	font-weight: bold;
	color: #856404;
}

header {
	background-color: #6b7a8f;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

header img {
	margin-right: 0.5em;
	background-size: cover;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title h1 {
	margin: 0.3em;
	font-size: 1.5em;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.title h3 {
	font-size: 0.8em;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.5em;
}

nav {
	background: linear-gradient(to bottom, #ffc107 50%, #f7882f 100%);
	box-shadow: 0 4px 6px -6px black;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 0.8rem 2%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.active {
	background-color: rgba(0, 0, 0, 0.2);
}

.appear li {
	display: block;
}

main h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
}

.gallery {
	display: flex;
	flex-direction: column;
}

.card {
	background-color: #fff;
	border-radius: 0.2em;
	max-width: 100%;
	margin: 1em 0.5em;
	padding: 0.5em;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.card:first-of-type {
	margin-top: 0;
}

.card img {
	width: 100%;
	background-size: cover;
}

img[data-src] {
	filter: blur(0.1em);
	background-size: cover;
}

img {
	filter: blur(0em);
	transition: filter 0.2s;
	background-size: cover;
}

.card p {
	text-align: center;
	padding: 0.5em;
}

footer {
	background-color: #6b7a8f;
	color: white;
	padding: 1em;
	text-align: center;
	line-height: 1.7;
	font-size: 0.8em;
}

footer p:first-child {
	font-style: initial;
}

footer p:last-child {
	font-weight: 300;
}
